.mason img {
  height: 50px;
  width: 50px;
}

.mason div, .mason h3{
  width: 100%;
  text-align: center;
}


.mason article {
  padding: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
  background: #FBE7B2;
}

.mason p, .mason article{
  -webkit-column-break-inside: avoid;
  /* column-break-inside: avoid; */
  break-inside: avoid-column;
}


.mason {
  column-count: 3;
  column-width: 200px;
  column-gap: 5px;
}

footer {
  margin: 30px 0;
}