h1 {
  font-size: 3em;
  margin: .5em;
}
h2 {
  font-size: 1.5em;
  margin: .3em;
}
img {
  margin: 10px;
}
figcaption {
  margin: 10px;
}
p {
  padding: 10px;
}
.container {
  margin: 0 auto;
  text-align:center;
}

.rounded {
  border-radius: 10px;
  /* border-style: solid;
  border-width: 2px;
  border-color: black; */
  border: 10px solid black;
  box-sizing: border-box;
}