/* grid */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

/* items */
.container > * {
  color: #353535;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 20px;
  background: #d0cfc5;
}

/* nav styles */
.container nav {
  background: #136fd2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #d0cfc5;
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

a.toggle {
  text-decoration:none;
}

/* media query for grid layout */
@media only screen and (min-width: 600px) {
    
  /* grid */
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  
  /* specific item styles */
  .container header,
  .container nav,
  .container footer {
    grid-column: span 4;
  }
  .container section {
    grid-column: span 3;
  }
  
  /* nav styles */
  nav ul li {
    display: inline-block;
    padding: 0 20px 0 0;
  }
  
  /* hide toggle */
  .toggle {
    display: none;
  }
  
}

/* media query for nav styles */
@media only screen and (max-width: 599px) {
  
    #nav {
      transition: transform .3s ease-in-out;
      top: 0;
      bottom: 0;   
      position: fixed;
      width: 300px;
      right: -340px;
    }
  
    #nav:target {     
      transform: translateX(-340px);
    }
  
    .close {
      text-align: right;
      display: block;
      text-decoration: none;
      font-size: 3em;
      position: relative;
      top: -30px;
    }
  
  .open {
    text-align: left;
  }
  
}