
a.active {
  color: white;
  background-color: black;
}
a:visited {
  color: gray;
}
a {
  color: black
}

a:active {
  background-color: yellow;
}
a:hover {
  color:red;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

