* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

:root {
  --main-bg-color: white;
  --main-text-color: #353535;
  --container-bg-color: rgb(238, 238, 238);
  --nav-bg-color: black;
  --nav-text-color: lightgray;
  --nav-hover-color: darkgray;
  --mason-border-color: #999;
  --brand-color: black
}

h1,
h1 a,
h2,
h3,
h4,
h5,
h6,
li a {
  font-family: Ubuntu, serif
}

section h3 {
  margin-top: 0
}

p {
  font-family: Montserrat, serif
}

.brand a {
  color: var(--brand-color);
  text-decoration: none
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px
}

.container>* {
  color: var(--main-text-color);
  line-height: 1.5;
  background: #eee
}

.container>nav,
section {
  padding: 20px
}

footer {
  padding: 0 10px
}

.container nav {
  background-color: var(--nav-bg-color)
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0
}

nav a {
  color: var(--nav-text-color);
  text-decoration: none
}

nav a:hover {
  text-decoration: none
}

a.toggle {
  text-decoration: none
}

nav .active {
  background-color: var(--nav-hover-color);
  height: 50px;
  line-height: 50px
}

nav li {
  text-align: center
}

nav .active a {
  color: #fff
}

@media only screen and (min-width:600px) {
  .container {
    grid-template-columns: repeat(3, 1fr)
  }

  .container footer,
  .container header,
  .container nav {
    grid-column: span 4
  }

  .container section {
    grid-column: span 3
  }

  nav ul li {
    display: inline-block;
    padding: 0 20px 0 0;
    width: 100px
  }

  .toggle {
    display: none
  }

  header {
    padding: 0 20px
  }

  .header {
    width: 100%;
    height: auto
  }
}

@media only screen and (max-width:599px) {
  #nav {
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 300px;
    right: -340px
  }

  #nav:target {
    transform: translateX(-340px)
  }

  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: -30px
  }

  .open {
    text-align: left;
    color: var(--main-text-color);
    font-size: 2em;
    padding-left: 5px
  }
}

div.golden-mason {
  margin: 0 2%
}

.golden-mason img {
  width: 100%;
  border-radius: 25px
}

.golden-mason article {
  padding: 20px;
  border: 1px solid var(--mason-border-color);
  border-radius: 5px;
  background: #fff
}

.golden-mason a:link,
.golden-mason a:visited {
  color: #000
}

.golden-mason h1 {
  margin-top: 0;
  margin-left: .75rem
}

.golden-mason {
  columns: 310px;
  column-gap: 10px
}

.golden-mason article {
  break-inside: avoid-column;
  margin-bottom: 1rem
}

.golden-mason p {
  font-size: .9rem
}

ul.copyright {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between
}

.copyright li {
  font-size: .9rem
}

.icon-bar {
  position: fixed;
  top: 1%;
  right: 2%
}

icon-bar ul {
  list-style-type: none
}

.icon-bar li {
  display: inline-block
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all .3s ease;
  color: #fff;
  font-size: 20px
}

.icon-bar a:hover {
  background-color: var(--nav-hover-color)
}

.facebook {
  background: #3b5998;
  color: #fff
}

.linkedin {
  background: #55acee;
  color: #fff
}

.github {
  background: #000;
  color: #fff
}

.zoom {
  padding: 10px;
  transition: transform .2s;
  width: 70%;
  height: auto;
  margin: 0 auto;
  transition: transform .3s ease-in-out
}

.zoom:hover {
  transform: scale(1.2)
}

.main-project {
  text-align: center
}

.capstone img {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 62%
}