* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: white;
  --main-text-color:  #353535;
  --container-bg-color: rgb(238, 238, 238);
  --nav-bg-color: black;
  --nav-text-color: lightgray;
  --nav-hover-color: darkgray;
  --mason-border-color: #999;
  --brand-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
li a {
  font-family: 'Ubuntu', serif;
}

section h3 {
  margin-top:0;
}

p {
  font-family: 'Montserrat', serif;
}


.brand a {
  color: var(--brand-color);
  text-decoration: none;
}

/* grid */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

/* items */
.container>* {
  color: var(--main-text-color);
  line-height: 1.5;
  background: #eeeeee;
}

.container>nav,section {
  padding: 20px;
}

footer {
  padding: 0 10px;
}


/* nav styles */
.container nav {
  background-color: var(--nav-bg-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color:  var(--nav-text-color);
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

a.toggle {
  text-decoration: none;
}

nav .active {
  background-color: var(--nav-hover-color);
  height: 50px;
  line-height: 50px;
}

nav li {
  text-align: center;
  border-radius: 10px;
}

nav .active a {
  color: white;
}

/* media query for grid layout */
@media only screen and (min-width: 600px) {

  
  /* nav styles */
  nav ul li {
    display: inline-block;
    padding: 0 20px 0 0;
    width: 100px;

  }

  /* hide toggle */
  .toggle {
    display: none;
  }

  header {
    padding: 0 20px;
    
  }
  .header {
    width: 100%;
    height: auto;
    /* background-image: url("../images/fibonacci-numbers.png"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-size: 100% 100%; */
  }

}

/* media query for nav styles */
@media only screen and (max-width: 599px) {

  #nav {
    transition: transform .3s ease-in-out;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 300px;
    right: -340px;
  }

  #nav:target {
    transform: translateX(-340px);
  }

  .close {
    text-align: right;
    display: block;
    text-decoration: none;
    font-size: 3em;
    position: relative;
    top: -30px;
  }

  .open {
    text-align: left;
    color: var(--main-text-color);
    font-size: 2em;
    padding-left: 5px;
  }

}


/* masonry */
div.mason {
  margin: 0 2%;
}
.mason img {
  width: 100%;
  border-radius:25px;
}

.mason article {
  padding: 20px;
  border: 1px solid var(--mason-border-color);
  border-radius: 5px;
  background: #fff;
}

.mason a:link,
.mason a:visited {
  color: black;
}

.mason h1 {
  margin-top: 0;
  margin-left: 0.75rem;
}

.mason {
  /* column-count: 3; */
  columns: 310px;
  column-gap: 10px;
}

.mason article {
  break-inside: avoid-column;
  margin-bottom: 1rem;
}

.mason p {
  font-size: .9rem;
}


/* footer */
ul.copyright {
  padding: 0;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.copyright li {
  font-size: .9rem;
}


/* social links */
.icon-bar {
  position: fixed;
  top: 1%;
  right: 2%;
}

icon-bar ul {
  list-style-type: none;
}

.icon-bar li {
  display: inline-block;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 5px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: var(--nav-hover-color);
}

.facebook {
  background: #3B5998;
  color: white;
}

.linkedin {
  background: #55ACEE;
  color: white;
}

.github {
  background: #000;
  color: white;
}

/* zoom image */
.zoom {
  padding: 10px;
  transition: transform .2s;
  /* Animation */
  width: 70%;
  height: auto;
  margin: 0 auto;
  transition: transform .3s ease-in-out;
}

.zoom:hover {
  transform: scale(1.2);
}

/* embedded video responsive */
.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/* credits */
.credits ul {
  list-style-type:none;
  padding: 0;
}
.credits a {
  font-size: .7em;
  text-decoration: none;
  color:black;
}
.credits a:hover {
  background-color: black;
  color: white;
}

.main-project {
  text-align:center;
}
.capstone img{
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 62%;
}

.project-links {
  list-style-type:none;
  text-align:center;
}
.project-links li {
  display: inline-block;
}
.project-links .github {
  color: black;
}
.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
  }
  .small-circle{
    border-radius: 50%;
    margin: 0.15em;
    font-size: 2em;
    }