/* using inline-block to style nav bar */
nav ul {
  background-color: lightgray;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*use overflow hidden to clear float*/
  overflow: hidden;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  padding: 10px;
  color: black;
  background-color: #dddddd;
  text-decoration: none;
}
nav a:hover {
  background-color: aqua;
}

nav li .active {
  background-color: black;
  color: white;
}


/* use float to style social links */
ul.social-links {
  list-style-type: none;
}

.social-links li {
  display: inline-block;
  width: 5rem;
  background-color: lightblue;
  border-radius:10px;
  text-align: center;
}
.social-links li:hover {
  background: gray;
}

.social-links a {
  color: black;
  text-decoration: none;
}

.social-links a:hover {
  color: white;
}



/* footer with relative/absolute positioning */
footer {
  height: 4rem;
  position: relative;
  background-color: lightgray;
}

.align-left {
  position: absolute;
  left: 2%;
  top: 45%;
}

.align-right {
  position: absolute;
  right: 2%;
  top: 45%;
}
